# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Cache directories
.turbo
.cache

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode
.idea

# TypeScript
next-env.d.ts

